---
---

<section
  class="relative flex items-center justify-center bg-hero_gradient bg-cover bg-center pt-20 pb-8"
  style="background-image: linear-gradient(to bottom, var(--color-accent-background) 0%, var(--color-background) 80%);"
>
  <div class="relative z-10 text-center px-4 max-w-2xl">
    <h1 class="text-4xl md:text-6xl font-extrabold text-accent mb-4 leading-tight">
      Supporting teams ship better products, faster.
    </h1>
    <div class="flex flex-row items-center justify-center gap-2 mb-6">
        <img
            src="/profile.jpeg"
            alt="Profile picture"
            class="w-12 h-12 rounded-full shadow-lg"
            loading="lazy"
        />
        <div class="flex flex-col items-start">
            <div class="flex items-center gap-2">
              <span class="text-content_primary text-md font-bold">Basti Fudali</span>
              <a href="https://www.linkedin.com/in/sebastian-fudali-4235b6219/" target="_blank" rel="noopener noreferrer">
                <img src="/linkedin-logo.png" alt="LinkedIn profile" class="w-4 h-4" />
              </a>
            </div>
            <span class="text-content_primary text-md">Product & Design Operations</span>
        </div>
    </div>

  </div>
</section>
